<header class="header-6">
  <div class="branding">
    <a routerLink="/" class="nav-link">
      <span class="title">Test App</span>
    </a>
  </div>
  <div class="header-actions">
    <clr-dropdown>
      <button
        class="nav-icon"
        clrDropdownTrigger
        aria-label="toggle settings menu"
      >
        <clr-icon shape="shopping-cart"></clr-icon>
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
        <a routerLink="cart" clrDropdownItem
          >To Cart <span class="badge badge-info">{{ cartSize }}</span></a
        >
        <a (click)="onCartEmpty()" clrDropdownItem>Empty Cart</a>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
</header>
