<clr-wizard
  #wizard
  [(clrWizardOpen)]="isBuying"
  (clrWizardOnCancel)="onClose()"
  [clrWizardPreventNavigation]="loading"
>
  <clr-wizard-title>{{ title }}</clr-wizard-title>

  <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
  <clr-wizard-button [type]="'finish'">Finish</clr-wizard-button>

  <clr-wizard-page>
    <ng-template clrPageTitle>General Information</ng-template>
    <app-modal-general-info
      [product]="product"
      (amountChanged)="onAmountChanged($event)"
    ></app-modal-general-info>
  </clr-wizard-page>

  <clr-wizard-page [clrWizardPageNextDisabled]="!userDataFormIsValid">
    <ng-template clrPageTitle>Personal Information</ng-template>
    <app-modal-personal-information
      (userDataFormStatusChanged)="onUserDataFormStatusChanged($event)"
    ></app-modal-personal-information>
  </clr-wizard-page>

  <clr-wizard-page
    [clrWizardPageNextDisabled]="!creditCardFormIsValid"
    (clrWizardPageCustomButton)="creditPageNav($event)"
    (clrWizardPageOnCommit)="onCommit()"
    clrWizardPagePreventDefault="true"
  >
    <ng-template clrPageTitle>Payment</ng-template>
    <ng-template clrPageButtons>
      <clr-wizard-button [type]="'custom-cancel'">Cancel</clr-wizard-button>
      <clr-wizard-button [type]="'custom-back'">Back</clr-wizard-button>
      <clr-wizard-button [type]="'finish'">Finish</clr-wizard-button>
    </ng-template>
    <div *ngIf="loading">
      <clr-spinner clrInline>
        Processing...
      </clr-spinner>
      <span>
        Processing...
      </span>
    </div>

    <app-modal-creditcard-info
      *ngIf="!loading"
      [error]="error"
      [product]="product"
      [userData]="userDataObj"
      [amount]="amount"
      (creditCardFormStatusChanged)="onCreditCardFormStatusChanged($event)"
    ></app-modal-creditcard-info>
  </clr-wizard-page>
</clr-wizard>
