/* You can add global styles to this file, and also import other style files */

// Rating starts theme
@import '~ngx-bar-rating/themes/br-default-theme';

body {
  overflow: hidden;
}

// Pagination styles

.pagination .ngx-pagination a,
.ngx-pagination button {
  // color: #e9ecef;
  color: #29414e;
}

.pagination .ngx-pagination a:hover,
.ngx-pagination button:hover {
  color: #29414e;
}

.pagination .ngx-pagination .disabled {
  color: #8f9ba3;
}

.rating {
  display: flex;
}

.list-group-item .rating .br {
  margin: 0 10px;
}

form.clr-form.credit-card-form
  .clr-form-control
  .clr-control-container
  .clr-input-wrapper
  input.clr-input {
  width: 100%;
}

.list-group-item form.clr-form {
  padding: 0;
}
.list-group-item form.clr-form .clr-form-control {
  margin: 0;
}
